[user]
	email = alli@allir.org
	name = Aðalsteinn Rúnarsson

[core]
	editor = vim

[init]
	defaultBranch = main

[pull]
	ff = only

[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[include]
path = ~/.gitconfig.local
