[user]
	email = alli@allir.org
	name = Aðalsteinn Rúnarsson

[core]
	editor = vim

[init]
	defaultBranch = main

[pull]
	ff = only

[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cleanup = "!f(){ git fetch --prune &>/dev/null && git branch -vv | grep -e origin | grep -e gone | awk '{print $1}' | xargs -L 1 git branch -D 2>/dev/null || echo \"Nothing to do...\"; };f"
	show-root = rev-parse --show-toplevel

[include]
  path = ~/.gitconfig.local
